@model IEnumerable<Library.Entities.User>

@{
    ViewData["Title"] = "UserList";
}

<h1>UserList</h1>
<hr />

<table class="table">

    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Login)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Login)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>
                @Html.ActionLink("Edit","UserEdit", "User", new { id = item.Login })
            </td>
        </tr>
}
    </tbody>

</table>

<div>
    @Html.ActionLink("Back to List", "Index", "Edition")
</div>
